#first-chart {
    position: relative;

}

#text {
    position: absolute;
    left: 150px;
    top: 10px;
    width: 260px;
    background-color: lightpink;
    border-style: groove;
    box-shadow: 10px 5px;
    padding: 12px;
}


#title {
    position: center;
    margin-left: 350px;
    font-size: xx-large;
    padding-bottom: 15px;
}

#graph-title1 {
    font-size: x-large;
    font-weight: lighter;
}

p {
    background-color: white;

}

div {
    padding: 30px;

}

#second-chart {
    position: relative;
    padding-top: 50px;
}

#graph-title2 {
    position: absolute;
    font-size: x-large;
    font-weight: lighter;
}

#text2
{
    position: absolute;
    right: 90px;
    top: 100px;
    width: 180px;
    background-color: lightpink;
    border-style: groove;
    box-shadow: 10px 5px;
    padding: 12px;
}

main {
    padding-right: 200px;
    padding-left: 100px;
}